body{
    background-image: url("../../img/gym\ fondo.jpg") ;
    background-position: center;
}
nav, .top_nav{
    background-color: rgb(238, 215, 165);
}
.top_nav a::after{
    color: rgb(161, 108, 10);
}
h3,h4{
    text-align: center;
    color: rgb(29, 148, 13);
    margin: 2vh 0 2vh 0 ;
}
.imagenes{
    margin: 2vh 4vh 2vh 4vh;
    border: solid;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
}
.items ul,.items li{
    margin: 10px;
}
.items{
    margin: 1px;
    border: solid 2px;
}
.imagenes:first-child{
    background-image: url("../../img/gymtrainer.png");
}
.cuestionario{
    display: flex;
    justify-content: center;
}

@media (width > 400px) {
    .imagenes{
        grid-template-columns: 1fr 1fr;
    }
    .imagenes div:nth-child(3) {
        grid-column-start: span 3;
    }
    .imagenes div:first-child{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .imagenes img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}