.containerregister{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.main{
    position: relative;
    display:flex ;
    flex-direction: column;
    backdrop-filter: blur(1px) brightness(50%);
    max-height: 30em;
    width: 18em;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628 ;
    font-family: Poppins;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8em;
    padding: 1.5em;
}

p {
    font-size: 8px;
    color: #573b8a
}

/*checkbox to switch from sign up to login*/
#chk {
    display: none;
}

/*login*/
.login{
    position: relative;
    width: 100%;
    height: 100%;
}
.login label{
    margin: 25% 0 5%;
}

label{
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer; 
    transition: .5s ease-in-out;
}

.input{
    width: 100%;
    height: 2.5em;
    background: #e0dede;
    padding: 10px;  
    border: none;  
    outline: none;
    border-radius: 4px;
}

/*Register*/
.register{
    background: #fff;
    border-radius: 70% /8%;
    transform: translateY(7%);
    transition: .8s ease-in-out;
    padding-bottom: 20%;
}

.register label {
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .register{
    transform: translateY(-55%);
}

#chk:checked ~ .register label{
    transform: scale(1);
    margin: 10% 0 5%;
}

#chk:checked ~ .login label{
    transform: scale(.6);
    margin:5% 0 5%;
}

/*Button*/
.form button{
    width: 85%;
    height: 2.5em;
    margin: 12px auto 10%;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.form button:hover{
    background-color: #6d44b8;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    overflow: scroll;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: scroll;
}
